<table id="item">
  <tr>
    <td>item_no </td>
    <td>amount</td>
    <td>description</td>
    <td>name</td>
  </tr>
  <tr>
    <td>{{ item['item_no'] }}</td>
    <td>{{item['amount']}}</td>
    <td>{{item['description']}}</td>
    <td>{{item['name']}}</td>
  </tr>
</table>


<form [formGroup]="formDetail"  (ngSubmit)="request()" >
  <div class="form group" >
    <label>Get/Delete item by id</label>
    <input type="number" formControlName="item_no" class="form-control"   required>
  </div>
  <div class="form group">
    <label>Select option</label>
    <select name="action" formControlName="action" required>
      <option type="text" value="get"  >get</option>
      <option type="text" value="delete">delete</option>
    </select>
  </div>
  <div class="form group">
    <button type="submit" [disabled]="!formDetail.valid" class="btn btn-danger">Submit</button>
  </div>
</form>

<br>
<p >{{ message }}</p>
<br>

